/* Google Translate Overrides */
html {
  height: 100%;
}
body {
  top: 0 !important;
  position: static !important;
  margin-top: 0 !important;
}
.goog-te-banner-frame,
.goog-te-balloon-frame,
#goog-gt-tt,
.goog-te-spinner-pos {
  display: none !important;
}
.skiptranslate {
  display: none !important;
}
body .skiptranslate {
  display: block !important;
}
.goog-tooltip {
  display: none !important;
}
.goog-tooltip:hover {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  border: none !important; 
  box-shadow: none !important;
}
